<%- include('partials/header') %>

<div class="container detalle">
  <div class="row">
    <figure class="product-img col-4">
      <img src="/images/<%= product.image %>" alt="Imagen del producto" width="100%">
    </figure>
  <div class="producto col-6">
    <h1><%= product.name %></h1> <br>
    <h5>Cód: <%= product.id %></h5><br>  
    <h5><%= product.description %></h5> <br>
    <h5>Marca: <%= product.brand.name %></h5> <br>
    <h5>Categoría: <%= product.category.name %></h5> <br>
    <h5>Colores:</h5>
    <% product.colors.forEach(color => { %>
      <ul>
          <li>
              <%= color.name %>
          </li>
      </ul>
    <% }) %>
    <br>
    <h1>$<%= product.price %></h1> <br>
    <figure class="medios-de-pago">
      <img src="/images/medios-de-pago.png" alt="Medios de Pago" width=300 height="auto">
    </figure>
    <% if ( locals.isLogged ) { %>
      <form action="/user/saveProduct/<%=product.id%>" method="POST">
        <div class="form-group">
          <label for="quantity">Cantidad</label>
          <select name="quantity" class="form-control">
            <option selected value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
        <button class="btn btn-primary btn-cart" type="submit">
          Comprar
        </button>
    <% } else { %>
      <button class="btn btn-primary">Comprar</button>
    <% } %>
    
  </div>

  </div>

</div>

  <%- include('partials/footer') %>